version: '3'
services:
  slack-grand-race:
    restart: always
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    volumes:
      - .:/go/src/github.com/isfonzar/slack-grand-race
    env_file:
      - .env

  postgres:
    image: postgres
    ports:
      - '8041:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      LC_ALL: C.UTF-8
